/* Iter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    font-family: inter;
    margin: 0;
    padding: 0;
    
}
h1, h2, h3, h4, h5, p, button, a, ul{
    color: white;
}
p{
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}
.color1{
    background-color: #1A0B2E;
}
.color2{
    background-color: #230E3D;
}
.color3{
    background-color: #35116566;
}

.width{
    width: 1200px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
button{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    text-transform: capitalize;
    cursor: pointer;
}
.btn-div{
    gap: 4px;
    align-items: center;
    border-radius: 50px;
    padding: 12px 16px 12px 16px;
    cursor: pointer;
    transition: 400ms;
    display: flex;
}
.btn-div:hover{
    gap: 10px;
    
}
a{
    cursor: pointer;
}
/* Nav Bar CSS */
nav{
    border-bottom: 1px solid rgba(255, 255, 255, 0.200);
}
.nav-bar{
    justify-content: space-between;
    padding: 16px 0px;
    align-items: center;
    
}
.menu{
    gap: 32px;
    list-style: none;
}
.menu li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}
a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}
.nav-btn-div{
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    transition-duration: 400ms;
    width: 100px;
}
.nav-btn-div:hover{
    background: linear-gradient(to top right, #2D0B59, #4A148C, #6A1B9A);
}
.nav-btn-div img{
    width: 15px;
    height: 12.5px;
}
/* Hero Section CSS */
.hero-sec{
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
}
.hero-div{
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-content-div{
    flex-direction: column;
    gap: 40px;
    margin: 100px auto;
}
.content-1{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.badge{
    border-radius: 50px;
    background-color: #00FF88;
    padding: 6px 16px 4px 16px;
    text-align: center;
    justify-content: center;
    display: flex;
    color: black;
    font-weight: 600;
    position: absolute;
    top: 12px;
    left: 352px;
}
.mic-div{
    background-image: url("../assets/hero-circle.png");
    width: 350px;
    height: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mic-div img{
    width: 116px;
    height: 175px;
}
.content-2{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.hero-div h1{
    font-size: 60px;
    font-weight: 800;
    line-height: 100%;
    text-transform: capitalize;
}
.hero-btn-div{
    gap: 8px;
}
.h-btn-1{
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);;
}
.h-btn-1:hover{
    background: linear-gradient(to top right, #2D0B59, #4A148C, #6A1B9A);
}
.h-btn-2{
    border: 1px solid #00FF88;
}
.h-btn-2:hover{
    background: linear-gradient(to top right, #2D0B59, #4A148C, #6A1B9A);
}


/* About the Podcast Section CSS */
.podcast-div{
    flex-direction: column;
    padding: 50px 0px 120px 0px;
    gap: 80px;
    justify-content: center;
    align-items: center;
}
.podcast-div1{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.podcast-div1 h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
}
.podcast-div1 p{
    text-align: center;
    padding: 0px 200px;
    line-height: 160%;
}
.divider{

    border-bottom: 1px solid rgba(255, 255, 255, 0.200);
}
.podcast-div2{
    justify-content: space-around;
    width: 1200px;
}
.podcast-div2 div{
    display: flex;
    flex-direction: column;
    width: 240px;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.podcast-div2 div h3{
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
    letter-spacing: 2px;
}
.podcast-div2 div p{
    text-transform: uppercase;
}


/* Why Choose TechWave CSS */
.choose-sec{
    padding: 120px 0px;
}

.choose-div{
    flex-direction: column;
    gap: 40px;
}
.choose-div h2{
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
}
.choose-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}
.choose-grid div{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 40px;
    border-radius: 40px;
    background-color: #35116566;
    justify-content: center;
}
.choose-grid div img{
    width: 50px;
    height: 50px;
}
.choose-grid div h4{
    font-size: 24px;
    font-weight: 700;

}
.grid-1{
    grid-column: span 1;
    grid-row: span 2;
}
.grid-2{
    grid-column: span 2;
    grid-row: span 1;
}
.grid-3{
    grid-column: span 1;
    grid-row: span 1;
}


/* Featured Episodes CSS */
.episode-sec{
    padding: 120px 0px;
}
.episode-div{
    flex-direction: column;
    gap: 120px;
}
.e-div1{
    flex-direction: column;
    gap: 40px;
}
.e-div1 h3{
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}
.card-div{
    gap: 30px;
}
.card{

}
.iframe-div{
    
}
.iframe-div iframe{
    border-radius: 24px 24px 0px 0px;
}
.card-content{
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 12px;
    border-radius: 0px 0px 12px 12px;
    background-color: #250D44;
}
.card-content h4{
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.card-content{

}
.time{    
    gap: 6px;
    align-items: center;
}
.time img{
    width: 20px;
    height: 20px;
}
.time p{    
    color: #00FF88;
}


.e-div2{
    flex-direction: column;
    gap: 40px;
}
.e-div2 h3{
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}
.host-card{
    gap: 24px;
    padding: 40px;
    border-radius: 40px;
}
.host-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.host-card-content{
    flex-direction: column;
    justify-content: space-between;
}
.host-card div h4{
    font-size: 32px;
    font-weight: 700;
    text-transform: capitalize;
}
.host-social{
    gap: 8px;
}
.host-social img{
    width: 20px;
    height: 20px;
    padding: 8px;
    border-radius: 50px;
    border: 1px solid #533C72;
}

/* Footer Section CSS */
footer{
    background-image: url("../assets/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 120px 0px;
}
.footer-div{
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.footer-logo{
    width: 410px;
    height: 60px;

}
.footer-social{
    display: flex;
    /* gap: 40px; */
    justify-content: space-between;
    align-items: center;

}
.footer-social a div:hover{
    gap: 4px !important;
}



@media (min-width: 992px) {
    .menu-hum{
        display: none;
    }
}







@media (max-width: 576px) {
    .width{
        width: auto;
        max-width: auto;
    }
    .nav-btn-div{
        display: none;
    }

    .menu{
        display: none;
    }
    .menu-hum{
        margin-right: 20px;
        width: 20px;
        height: 15px;
    }
    .mic-div img{
        width: 50px;
        height: 70px;
    }
    .mic-div{
        width: 200px;
        height: 200px;
        background-size: cover;
    }
    .hero-sec{
        background-size: 576px auto;
    }
    .hero-content-div{
        margin: 40px 20px;
    }
    .content-2 h1{
        font-size: 40px;
    }
    .content-2 p{
        text-align: center;
    }
    .podcast-div{
        gap: 40px;
        /* padding: 40px 20px; */
        width: 576px;
        max-width: 576px;
        padding: 40px 0px 40px 0px;
    }
    .podcast-div1{
        width: 576px;
    }
    .divider{
        margin: 0px 20px;
    }
    .podcast-div1 p{
        margin: 0px 20px;
    }
    .podcast-div1 h2{
        font-size: 32px;
    }
    .podcast-div1 p{
        padding: 0px 0px;
    }
    .podcast-div2{
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 576px;
        gap: 0px;
        justify-content: space-evenly;
        /* padding-left: 40px; */
    }
    .podcast-div2 div{
        grid-column: span 1;
        grid-row: span 1;
        
    }

    .choose-sec, .episode-sec, footer{
        padding: 40px 20px;
    }
    .choose-div h2, .e-div1 h3, .e-div2 h3{
        font-size: 32px;
        text-align: center;
    }
    .choose-grid{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    .choose-grid div{
        grid-column: span 1;
        grid-row: span 1;
        padding: 20px;
    }
    .footer-logo{
        width: 219px;
        height: 32px;
    }

    .footer-social{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 5px;
    }
    .footer-social div{
        grid-column: span 2;
        grid-row: span 2;
        padding: 0;
        
    }
    .episode-div{
        gap: 60px;
    }
    .host-card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .e-div2 h4, .e-div2 p{
        text-align: center;
    }
    .host-social{
        justify-content: center;

    }
    .host-card-content{
        gap: 16px;
    }
    .card-div{
        flex-direction: column;
    }
    .iframe{
        width: auto;
        height: auto;
    }
    .iframe-div{
        width: auto;
        height: auto;
    }
    .podcast-div1{
        width: auto;
        height: auto;
    }
}

